* {
  margin: 0;
  padding: 0;
}

body {

  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {
  background-color:#161853;
  /* background-color:#3572EF; */
  color: white;
  font-size: 4rem;
  
}

.subHeading {
  display: flex;
  background-color: #279EFF;
  color: white;

  padding: 2%;
  justify-content: center;
  column-gap: 10px;
}

input {
  padding: 3%;
  border-radius: 20px;
}
button{
  border: 0;
}
.selectItem {
  display: flex;
  column-gap: 10px;
}

.addBtn {
  background-color: #161853;
  padding: 3%;
  border-radius: 20px;
  color: white;


}

.checkBoxShow {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */ 
  font-size: 1.3rem;
  column-gap: 18%;
  /* color: white; */
  min-height: 50vh;
  padding: 2%;
  background-color: #FFF3DA;
}

.packingStatus {
  background-color:#EC255A;
  color: white;
  /* padding: 1%; */
}

input[type=checkbox]:checked + label{
  text-decoration: line-through;
}
.sortAndClearbtn{
  /* position: absolute;
  bottom: 13vh;
  left: 40vw; */
  text-align: center; 
  margin: auto;
  background-color: #FFF3DA;
  /* display: flex;
  flex-direction: column; */


 
}